body {
  /* margin-left: 25%; */
  /* margin-right: 25%; */
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}


label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  /* display: inline-block; */
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align:center;

}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
  text-align: center;

}

button#send{
  display: block;
    margin: 0 auto;

}
